<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="popup.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="../../vendor/vue-material/vue-material.min.css">
    <link rel="stylesheet" href="../../vendor/vue-material/themes/default.css">
    <script src="../../vendor/vue/vue.js"></script>
    <script src="../../vendor/vue-material/vue-material.min.js"></script>
    <script src="../../vendor/moment/moment.js"></script>
  </head>
  <body>
    <main id="app" class="popup-wrapper">
      <md-app style="width: 100%; height: 100%;">

        <md-app-toolbar class="md-primary">
          <img src="../../assets/images/logo128.png"
               style="height:30px;"/>
          <p class="md-title">Mission Control</p>
          <div style="margin-left: auto; cursor: pointer;"
               v-on:click="() => redirectToOptionsPage()">
            <md-icon>
              settings
            </md-icon>
          </div>
        </md-app-toolbar>

        <md-app-content class="flex column">
          <div style="flex: 1 1 auto;"
               class="flex column center text">
            <p v-if="state.goal && state.goal.description && state.goal.isGoalVisible"
               class="md-title"
               style="margin-bottom: 30px;">{{state.goal.description}}</p>
            <div v-if="state.goal && state.goal.description && state.goal.lastResetDate"
                 class="flex column center">
              <p class="md-display-3">{{ state.goal.daysSinceReset }}</p>
              <p v-if="state.goal && state.goal.daysSinceReset && state.goal.daysSinceReset === 1"
                 class="md-title">
                day since last reset
              </p>
              <p v-else
                 class="md-subheading">
                days since last reset
              </p>
            </div>
            <div v-else-if="!state.goal || (!state.goal.description && !state.goal.lastResetDate)"
                 class="flex column center"
                 style="flex: 1 1 auto;">
              <md-icon style="margin: 10px 0 10px;"
                       class="md-size-2x md-primary">
                new_releases
              </md-icon>
              <p class="md-title">Set a goal</p>
              <p style="text-align: center;">Remind yourself why you're using Mission Control!</p>
              <md-button class="md-raised md-primary"
                         v-on:click="() => redirectToOptionsPage('goal')"
                         style="margin-top: 20px;">
                Set a Goal
              </md-button>
            </div>
          </div>
          <div v-show="state.goal && state.goal.description && state.goal.lastResetDate"
               class="flex row center">
            <md-button v-on:click="handleResetClick"
                       class="md-raised">
              Reset Date
            </md-button>
            <md-button v-on:click="handleCancelClick"
                       class="md-raised md-accent">
              Clear Goal
            </md-button>
          </div>
        </md-app-content>
      </md-app>
    </main>
  </body>
  <script type="module" src="popup.js"></script>
</html>
