* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------- */
/* -- VARIABLES START -- */

:root {
    --black: #1B1B1B;
    --blue: #51BEE5;
    --grey: #b9b6b3;
    --green: #4CAF50;
    --orange: #F77759;
    --red: #e0284f;
    --primary-color: var(--blue);
    --accent-color: var(--orange);
    --secondary-color: var(--red);
}

/* --- VARIABLES END --- */
/* --------------------- */

/* --------------------- */
/* --- LAYOUT START ---- */

.text.center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.flex.row.center-vertical,
.flex.column.center-horizontal {
    align-items: center;
}

.flex.row.center-horizontal,
.flex.column.center-vertical {
    justify-content: center;
}

/* ---- LAYOUT END ----- */
/* --------------------- */

/* --------------------- */
/* ---- COLORS START --- */

.color-primary {
    color: var(--primary-color);
}

.color-accent {
    color: var(--accent-color);
}

.color-secondary {
    color: var(--secondary-color);
}

.color-grey {
    color: var(--grey);
}

.color-green {
    color: var(--green);
}

/* ---- COLORS END ----- */
/* --------------------- */

/* --------------------- */
/* --- BUTTONS START --- */

.btn {
    border: none;
    border-radius: 2px;
    font-size: 0.88rem;
    padding: 8px 20px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn.primary,
.btn.positive {
    background-color: var(--primary-color);
    color: white;
}

.btn.secondary,
.btn.negative {
    background-color: var(--secondary-color);
    color: white;
}

.btn.grey {
    background-color: var(--grey);
    color: white;
}

/* ---- BUTTONS END ---- */
/* --------------------- */

/* --------------------- */
/* ---- INPUTS START --- */

.input.text {
    border: 1px solid var(--grey);
    border-radius: 2px;
    margin: 10px 0;
    font-size: 0.88rem;
    padding: 8px 12px;
}

.input.text::placeholder {
    color: var(--grey);
}

.input:focus {
    outline: none;
}

/* ----- INPUTS END ---- */
/* --------------------- */

